
.home {
    display: flex;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(192, 29, 187);
    color: aliceblue;
    top: 10px;
    right: 10px;
    padding: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
    align-items: center;
    margin: 20px 0px;
}
.textInput {
    background-color: transparent;
    color: aliceblue;
    border-color: rgb(192, 29, 187);
    border-radius: 5px;
    height: 3rem;
    padding: 0px 10px;
}
.saubmitButton {
    background-color: rgb(192, 29, 187);
    padding: 10px 15px;
    border: 0px;
    border-radius: 5px;
    color: aliceblue;
}
.question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.linkLogin {
    margin-left: 5px;
}
.label {
    display: block;
    float: left;
    width: 200px;
    margin-bottom: 20px;
}
